{% extends 'base.html.twig' %}
{% block header %}
    <header class="bar bar-nav">
        <a href="{{ path("sale_center") }}" class="icon icon-left pull-left"></a>
        <h1 class="title">提现中心</h1>
    </header>
{% endblock %}

{% block body %}
    <div class="content">
        {{ form_start(form) }}
        {{ form_label(form.amount) }}
        {{ form_widget(form.amount) }}
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
        <button class="btn btn-lg btn-primary" type="submit">
            马上提现
        </button>
        {{ form_end(form) }}

    </div>
{% endblock %}