{% for order in orders %}
<div class="list-block media-list order-item-{{ order.tradeNo }}">
    <ul>
        <li>
            <a  href="{{ path('show_order',{'id': order.id}) }}" class="item-link item-content" >
                {% if  order.firstImage != null %}
                <div class="item-media"><img src="{{ absolute_url(asset(order.firstImage)) }}" width="80"></div>
                {% endif %}

                    <div class="item-inner">
                        <div class="item-title-row">
                            <div class="item-title">订单编号{{ order.tradeNo }}</div>

                        </div>
                        <div class="pull-right">{{ order.totalAmount }}元</div>
                        <div class="item-subtitle">订单状态：{{ order.status == 1 ? '已付款':'未付款' }}</div>
                        <div class="item-text">下单时间: {{ order.createTime | date('Y-m-d H:i:s') }}</div>
                    </div>
                </a>
            {% if order.status == 0 %}
                <span class="order-item-after icon icon-remove" data-no="{{ order.tradeNo }}"></span>
            {% endif %}
        </li>
    </ul>
</div>
        {% else %}

            <div class="list-block media-list">
            <ul>
                <li>
                    <a href="#" class="item-link item-content">
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">还没有订单</div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
            </div>
{% endfor %}

