{% extends 'base.html.twig' %}

{% set wechat = app.user %}
{% set user = wechat.user %}
{% set member = user.member %}
{% block header %}
    <header class="bar bar-nav">
        <a href="{{ path("member_center") }}" class="icon icon-left pull-left"></a>
        <h1 class="title">分销中心</h1>
    </header>
{% endblock %}

{% block body %}
    <div class="content">
        <div class="card member-card-header-pic">
            <div class="card-content">
                <div class="card-content-inner member-inner">
                    <div class="list-block media-list">
                        <ul>
                            <li class="item-content">
                                <div class="item-media">
                                    <img src="{{ wechat.headImg }}" width="72" class="headImg">
                                </div>
                                <div class="item-inner">
                                    <div class="item-subtitle color-while">微信昵称：{{ wechat.nickname }}</div>
                                    <div class="item-subtitle">资格：普通分销</div>
                                    <div class="item-subtitle">上级：{{ member.parent ? member.parent.user.wechat.nickname : "官网" }}</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-footer"></div>
        </div>
        <div class="content-inner">

            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-link item-content" data="panel-1">
                            <div class="item-inner">
                                <div class="item-title">分销中心</div>
                            </div>
                        </div>
                        <div class="item-panel list-block" id="panel-1">
                            <ul>
                                <li class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">分销流程介绍</div>
                                    </div>
                                </li>
                                <li class="item-content">
                                    <a href="{{ path('member_sale_link') }}" class="item-inner">
                                        <div class="item-title">获取推广二维码</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <div class="item-link item-content" data="panel-2">
                            <div class="item-inner">
                                <div class="item-title">我的盟友</div>
                            </div>
                        </div>
                        <div class="item-panel list-block" id="panel-2">
                            <ul>
                                <li class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">一级会员{{ member.memberCount }}人</div>
                                    </div>
                                </li>
                                <li class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">二级会员{{ member.indirectMemberCount }}人</div>
                                    </div>
                                </li>
                                <li class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">三级会员{{ member.thirdMemberCount }}人</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="item-link item-content" data="panel-3">
                            <div class="item-inner">
                                <div class="item-title">我的积分</div>
                            </div>
                        </div>
                        <div class="item-panel" id="panel-3">
                            <ul>
                                <li class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">自己订单积分</div>
                                    </div>
                                </li>
                                <li class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">直接下线订单积分</div>
                                    </div>
                                </li>
                                <li class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">间接下线订单积分</div>
                                    </div>
                                </li>
                                <li class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">了解积分</div>
                                    </div>
                                </li>
                                <li class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">积分兑换礼品</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="{{ path('member_cash') }}" class="item-link item-content">
                            <div class="item-inner">
                                <div class="item-title">申请提现</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path("rank_list") }}" class="item-link item-content">
                            <div class="item-inner">
                                <div class="item-title">会员积分排行榜</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(".item-link").on('click',function(){
            var id = $(this).attr('data');
            var panel = $("#"+id);
            if(panel.css('display') == 'none'){
                panel.show();
            }else{
                panel.hide();
            }
        });

    </script>
{% endblock %}